body {
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #4CAF50;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;

}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    
}